{{- range .Backends -}}
  {{ if eq .TrafficType "edge" }}
backend be_edge_http:{{.Name}}
  mode http
  option redispatch
  option forwardfor
  balance random
  timeout check 5000ms
  http-request add-header X-Forwarded-Host %[req.hdr(host)]
  http-request add-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-request add-header X-Forwarded-Proto-Version h2 if { ssl_fc_alpn -i h2 }
  http-request add-header Forwarded for=%[src];host=%[req.hdr(host)];proto=%[req.hdr(X-Forwarded-Proto)]
  cookie {{.BackendCookie}} insert indirect nocache httponly secure attr SameSite=None
  server pod:{{.Name}}:{{.ListenAddress}}:{{.Port}} {{.ListenAddress}}:{{.Port}} cookie {{.ServerCookie}} weight 1 check inter {{ .HealthCheckIntervalInMillis }}
  {{ else if eq .TrafficType "http" }}
backend be_http:{{.Name}}
  mode http
  option redispatch
  option forwardfor
  balance random
  timeout check 5000ms
  http-request add-header X-Forwarded-Host %[req.hdr(host)]
  http-request add-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-request add-header X-Forwarded-Proto-Version h2 if { ssl_fc_alpn -i h2 }
  http-request add-header Forwarded for=%[src];host=%[req.hdr(host)];proto=%[req.hdr(X-Forwarded-Proto)]
  cookie {{.BackendCookie}} insert indirect nocache httponly secure attr SameSite=None
  server pod:{{.Name}}:{{.ListenAddress}}:{{.Port}} {{.ListenAddress}}:{{.Port}} cookie {{.ServerCookie}} weight 1 check inter {{ .HealthCheckIntervalInMillis }}
  {{ else if eq .TrafficType "reencrypt" }}
backend be_secure:{{.Name}}
  mode http
  option redispatch
  option forwardfor
  balance random
  timeout check 5000ms
  http-request add-header X-Forwarded-Host %[req.hdr(host)]
  http-request add-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  http-request add-header X-Forwarded-Proto-Version h2 if { ssl_fc_alpn -i h2 }
  http-request add-header Forwarded for=%[src];host=%[req.hdr(host)];proto=%[req.hdr(X-Forwarded-Proto)]
  cookie {{.BackendCookie}} insert indirect nocache httponly secure attr SameSite=None
  server pod:{{.Name}}:{{.ListenAddress}}:{{.Port}} {{.ListenAddress}}:{{.Port}} cookie {{.ServerCookie}} weight 1 ssl {{ if .EnableHTTP2 -}} alpn h2,http/1.1 verifyhost {{.Name}} {{ end -}} verify required ca-file {{.TLSCACert}} check inter {{ .HealthCheckIntervalInMillis }}
  {{ else if eq .TrafficType "passthrough" }}
backend be_tcp:{{.Name}}
  balance source
  hash-type consistent
  timeout check 5000ms
  server pod:{{.Name}}:{{.ListenAddress}}:{{.Port}} {{.ListenAddress}}:{{.Port}} weight 1 check inter {{ .HealthCheckIntervalInMillis }}
  {{ end }}
{{- end }}
